/* YOUR CUSTOM STYLES */

.flex-center {
    color: #fff;
}

.intro-1 {
    background: url("../images/playa-caparica.jpg")no-repeat center center;
    background-size: cover;
}

.navbar .btn-group .dropdown-menu a:hover {
    color: #000 !important;
}

.navbar .btn-group .dropdown-menu a:active {
    color: #fff !important;
}

.navbar {
    background-color: #fff;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: white;
}


/* Btn Marron */

.btn-outline-pios {
    border: 2px solid #a1887f;
    color: #a1887f !important;
    background-color: transparent
}

.btn-outline-pios.active,
.btn-outline-pios:active,
.btn-outline-pios:active:focus,
.btn-outline-pios:focus,
.btn-outline-pios:hover {
    background-color: transparent;
    color: #8d6e63;
    border-color: #a1887f
}


/* Barra leteral Secciones */

.item-lobatos {
    color: #ffbb33;
}

.item-lobatos.active {
    background-color: #ffbb33;
    border-color: #ffbb33;
}

.item-tropa {
    color: #00C851;
}

.item-tropa.active {
    background-color: #00C851;
    border-color: #00C851;
}

.item-pios {
    color: #a1887f;
}

.item-pios.active {
    background-color: #a1887f;
    border-color: #a1887f;
}

.item-clan {
    color: #CC0000;
}

.item-clan.active {
    background-color: #CC0000;
    border-color: #CC0000;
}

.item-kraal {
    color: #0099CC;
}

.item-kraal.active {
    background-color: #0099CC;
    border-color: #0099CC;
}

/* Carousel*/

.carousel,
.carousel-item,
.carousel-inner,
.active {
    height: 100%;
}

/*Caption*/

.flex-center {
    color: #fff;
}

@media (min-width: 776px) {
    .carousel .view ul li {
        display: inline;
    }
    .carousel .view .full-bg-img ul li .flex-item {
        margin-bottom: 1.5rem;
    }
}
